* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.small-sidebar {
    width: 9%;
}

.small-sidebar {
    width: 70px;
    height: 100vh;
    background-color: #111b21;
    /* WhatsApp dark sidebar */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    border-right: 1px solid #2a2f32;
}

.small-icons {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.small-icons .icon {
    width: 45px;
    height: 45px;
    background: #202c33;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.2s ease;
}

i {
    color: white;
    font-size: 20px;
}
i:hover{
    cursor: pointer;
}

.small-icons .icon i {
    font-size: 20px;
    color: #e9edef;
    /* icon color */
}

.small-icons .icon:hover {
    background: #2a3942;
    /* WhatsApp hover */
}

.small-icons hr {
    width: 40px;
    border: none;
    border-bottom: 1px solid #2f3b43;
    margin: 15px 0;
}

.sidebar {
    width: 350px;
    height: 100vh;
    background: #111B21;
    color: #E9EDEF;
    border-right: 1px solid #222D34;
    display: flex;
    flex-direction: column;
}


.sidebar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 18px;
    background: #202C33;
    border-bottom: 1px solid #222D34;
}

.sidebar-title {
    font-size: 22px;
    margin: 0;
    font-weight: 600;
}


.sidebar-section i {
    font-size: 20px;
    color: #AEBAC1;
    cursor: pointer;
    margin-left: 15px;
    transition: 0.2s;
}

.sidebar-section i:hover {
    color: #25D366;
}


.sidebar form {
    padding: 8px 14px;
    background: #111B21;
    border-bottom: 1px solid #222D34;
}

.sidebar input {
    width: 100%;
    padding: 10px 14px;
    background: #202C33;
    border: none;
    border-radius: 8px;
    color: #E9EDEF;
    outline: none;
    font-size: 14px;
}

.sidebar input::placeholder {
    color: #AEBAC1;
}

.sidebar .chat-list {
    overflow-y: auto;
    flex-grow: 1;
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    cursor: pointer;
    background: #202C33;
    border-bottom: 1px solid #222D34;
    transition: background 0.2s;
}

.chat-item:hover {
    background-color: #202C33;
}

.chat-item.active {
    background: #2A3942;
}

.chat-item img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.chat-item-info {
    flex-grow: 1;
}

.chat-item-name {
    font-size: 16px;
    font-weight: 500;
    color: #E9EDEF;
}

.chat-item-lastmsg {
    font-size: 13px;
    color: #8696A0;
    margin-top: 2px;
}